/.bundle
/vendor/bundle
/bin

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

.sass-cache/
public/assets/*
public/uploads

node_modules/
/yarn-error.log
.byebug_history

.DS_Store
*/.DS_Store

/storage/*
!/storage/.keep

/config/master.key

*.sublime-*