<!-- Categories -->
<div class="sidebar-single sidebar-list">
  <div class="sidebar-title">
    <h2>Categories</h2>
  </div>

  <div class="custom-categories">
    <%= category_count_list(genre_from_host.blog_categories.order(blog_post_count: :desc)) %>
  </div>
</div>