<!-- Search form -->
<div class="sidebar-single">
	<div class="sidebar-content">
		<div class="search-form">

			<form action="#" method="get" role="search">
				<div class="form-group">
					<input class="form-control" placeholder="Search..." id="srch-term" type="text">
					<button class="btn-custom btn-fill btn-search" type="submit"><i class="fas fa-angle-right"></i></button>
				</div>
			</form>

		</div>
	</div>
</div>
