<!-- Tag cloud -->
<div class="sidebar-single tagcloud">

  <div class="sidebar-title">
    <h2>Tag Cloud</h2>
  </div>

  <div class="sidebar-content">
    <%= tag_cloud_list(genre_from_host.blog_tags.order(blog_post_count: :desc)) %>
  </div>

</div>